@import "vendor/reset.2.0.min";
@import "vendor/normalize.3.0.3.min";

body {
    background: #333 url('/build/assets/images/bg-texture.jpg') left top;
}

@mixin bp-s() {
    @media only screen and (max-width: 667px){
        @content;
    }
}

@mixin bp-s-portrait() {
    @media only screen and (max-width: 667px) and (orientation:portrait) {
        @content;
    }
}

.game-wrapper {
    position: absolute;
    width: 97vmin;
    height: 75vmin;
    max-width: 1024px;
    max-height: 768px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    @include bp-s {
        width: 100vw;
        height: 56.22vw;
    }

    @include bp-s-portrait {
        width: 100vh;
        height: 100vw;
        transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    }

    canvas {
        width: 100% !important;
        height: 100% !important;
    }

}



