@import "vendor/reset.2.0.min";
@import "vendor/normalize.3.0.3.min";

body {
    background: #333;
}

@mixin bp-s() {
    @media only screen and (max-width: 667px){
        @content;
    }
}

.game-wrapper {
    position: absolute;
    width: 97vmin;
    height: 75vmin;
    max-width: 1024px;
    max-height: 768px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    @include bp-s {

    }

    canvas {
        width: 100% !important;
        height: 100% !important;
    }

}



